@import 'header.css';
@import 'hero.css';
html, body {
    /* Создает круглый градиент из самого центра экрана */
    background: radial-gradient(circle at center, #6366f1 0%, #000000 100%) !important;/* цвета первый тот что в центе второй то что с краёв

    color: #ffffff;           /* Белый цвет для текста */
    margin: 0;                 /* Убираем рамки по краям */
    padding: 0;
    min-height: 100vh;         /* Растягиваем фон на весь экран */
}

/* Подключение шрифта */
body, a, button {
  font-family: 'Inter Tight', sans-serif !important;
}
